.container {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  grid-gap: 10px;
  /* grid-template-columns: 100px 200px 300px; */
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  /* grid-template-columns: repeat(3, 100px) 300px; */
  /* grid-template-columns: repeat(5, 1fr) 2fr; */
  /* grid-template-columns: 200px 200px 300px; */
  grid-template-columns: repeat(3, 2fr) 300px;
  /* justify-content: center; */
}
.items {
  background-color: rgb(131, 182, 131);
  border: 3px solid black;
  border-radius: 3px;
}
.items-nested {
  display: grid;
}
.nested {
  border: 2px dotted red;
  background-color: yellow;
}
